################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/eshop-microservice/.vs/ProjectEvaluation
/Src/eshop-microservice/.vs/eshop-microservice/CopilotIndices/17.14.1431.25910
/Src/eshop-microservice/.vs/eshop-microservice
/.vs
